<!DOCTYPE html>
<html>
<head>
    <title>Item List</title>
</head>
<body>
    <h1>Item List</h1>
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item.name }}</strong>: ${{ item.price }} 
                {% if item.discount %}
                    ({{ item.discount }}% off)
                {% endif %}
                <br>
            </li>
        {% endfor %}
    </ul>
    <form method='POST' action="{%url 'logout'%}">
        {% csrf_token %}
        <button type='submit'> Logout </button>
    </form>
</body>
</html>
